#root {
  padding: 1rem;
}

#root > div > a {
  margin: 1rem;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #5252e2;
  background: #5252e2;
  border-radius: 1rem;
  color: white;
}

#root > div > a:hover {
  border: 1px solid #ababf0;
  background: #ababf0;
}

.home > div > div {
  margin: 1rem;
}

.home > h1 {
  padding: 1rem;
}

.home > div > div > button {
  padding: 0.3rem;
}
